.spw-container {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.spw-content {
    width: 1200px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 25px;
    margin-top: 40px;
}