.spw-container {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.spw-content {
    width: 1200px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 25px;
    margin-top: 40px;
}

.spw-content button {
    width: 280px;
    height: 45px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #323232;
    cursor: pointer;
}

.spw-content button a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}