.crd-container {
    width: 250px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 3px 15px -3px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}

.crd-bottom {
    width: 250px;
    height: 220px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px 20px;
    cursor: pointer;
}

.crd-carinfo h1 {
    font-size: 18px;
    font-weight: 600;
}

.crd-carinfo h2 {
    font-size: 15px;
    font-weight: 500;
    color: red;
}

.crd-carinfo span {
    font-size: 14px;
    font-weight: 400;
}

.crd-price h1 {
    font-size: 22px;
    font-weight: 600;
}

.crd-location svg {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.crd-location span {
    font-size: 14px;
    font-weight: 400;
}
