.nvb-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#0c0c0c, #323232);
    color: #fff;
    text-decoration: none;
}

.nvb-content {
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nvb-content h1 {
    font-size: 26px;
    font-weight: 500;
    cursor: pointer;
}

.nvb-content ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nvb-content ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: transform 0.2s ease; /* animação suave */

}

.nvb-content ul li a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease; /* animação suave */
}

.nvb-content ul li:hover a {
    color: #323232;
    transform: scale(1.1); /* aumenta 10% */
}

.nvb-content ul li:hover {
    width: 100px;
    height: 60px;
    background-color: #fff;
    color: #323232;
    outline: 2px solid #323232;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: scale(1.1); /* aumenta 10% */
}

.nvb-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}

.nvb-contato svg {
    margin-right: 5px;
}

.nvb-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nvb-socialmedia svg {
    width: 22px;
    height: 22px;
    margin-right: 15px;
    cursor: pointer;
}